@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  color: DodgerBlue;
  text-shadow: 1px 1px 2px blue;
}
h2 {
  color: BlueViolet;
}
#containar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

input[type="text"] {
  border: 1px solid gray;
  border-radius: 2px;
}

input[type="text"]:focus {
  outline: none;
}

.input_task {
  display: flex;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 10px;
  justify-content: center;
  box-shadow: 0 1px 15px -6px;
}

.input_task * {
  margin: 10px;
  padding: 5px;
}

#task_box {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#task_box .task {
  max-width: 450px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 12px;
  box-shadow: 0 4px 10px -3px;
}

#task_box .task > div {
  padding: 10px;
  border-bottom: 1px solid MediumVioletRed;
}

.incomplete_task .label {
  padding: 0 10px;
}

.incomplete_task > div {
  position: relative;
}

.label {
  color: DarkSlateGrey;
}

.complete_task {
  margin-top: 25px;
}

.complete_task > div {
  display: flex;
  justify-content: space-between;
}

.delete {
  height: 20px;
  color: red;
}

.remove-btn {
  color: blue;
  position: absolute;
  right: 10px;
}

@media all and (min-width: 768px) {
  .input_task {
    width: 670px;
  }

  #task_box {
    width: 700px;
  }

  #task_box {
    flex-direction: row;
    justify-content: space-around;
  }

  #task_box .task {
    flex-basis: 45%;
  }

  .complete_task {
    margin-top: 0px;
  }
}
